# Gradle
.gradle/
.gradle_home/
build/
core/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build.properties

# Ignore Gradle GUI config
gradle-app.setting

# Ignore Gradle cache
.gradle/
core/.gradle/

# Ignore Gradle Daemon log
core/daemon/

# IDEs
.idea/
*.iml
*.iws
*.ipr
.eclipse/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.classpath
.project

# Fabric / Loom
.loom/
run/
.fabric/

# Paper / Bukkit
server/
plugins/
world/
world_nether/
world_the_end/
logs/
crash-reports/
eula.txt

# Extras
.DS_Store
*.log
temp_api/
net/

# Custom additions
gradle/wrapper/
.vscode/
/docs/
analysis/

core/misc/
*.class
